* {
  box-sizing: border-box;
}
* * {
  box-sizing: inherit;
}

@media screen and (max-width: 1200px) {
  .wrap-acts .splide .splide__track .splide__list {
    font-size: 20px;
  }
  .wrap-acts .splide .splide__track .splide__list li {
    margin: 30px auto;
    padding: 7px;
    background: none;
  }
  .wrap-acts .splide .splide__track .splide__list li img {
    width: 100%;
    height: 500px;
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  .homepage {
    padding: 3rem;
  }

  section div {
    font-size: 20px;
  }

  .container-head {
    font-size: 30px;
  }

  .wrap-acts .splide .splide__track .splide__list {
    font-size: 12px;
  }
  .wrap-acts .splide .splide__track .splide__list li {
    margin: 45px auto;
    padding: 7px;
    background: none;
  }
  .wrap-acts .splide .splide__track .splide__list li img {
    width: 100%;
    height: 300px;
    padding: 10px;
  }
}
@media screen and (max-width: 480px) {
  .homepage {
    padding: 15px;
  }

  section div {
    font-size: 15px;
  }

  .container-head {
    font-size: 30px;
  }

  .wrap-acts .splide .splide__track .splide__list {
    font-size: 15px;
  }
  .wrap-acts .splide .splide__track .splide__list li {
    margin: 45px auto;
    padding: 7px;
    background: none;
  }
  .wrap-acts .splide .splide__track .splide__list li img {
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
html,
body {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #181818;
  background-color: #efefef;
}

.main-header {
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #efefef;
}
.main-header .nav-toggler {
  font-size: 3rem;
  border: none;
  background-color: transparent;
  color: #efefef;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}
.main-header .nav-toggler:hover {
  background-color: rgba(24, 24, 24, 0.2);
}

.side-nav {
  width: 300px;
  height: 100%;
  position: fixed;
  left: -300px;
  top: 0;
  z-index: 5;
  background-color: #181818;
  padding: 1rem;
  color: #efefef;
  transition: left 0.3s;
}
.side-nav.active {
  left: 0;
}
.side-nav img {
  width: 170px;
  height: 165px;
  border-radius: 50%;
  margin: 2rem auto 1rem;
  display: block;
}
.side-nav .nav-message {
  background-color: #131313;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #0e0e0e;
  margin-bottom: 0.5rem;
}
.side-nav .nav-message p {
  text-align: center;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.side-nav .nav-message p:nth-child(1) {
  font-weight: 600;
}
.side-nav .nav-message #side-nav-typer {
  color: #44be44;
  animation: color linear infinite;
  animation-duration: 20s;
  animation-iterate-count: infinite;
  font-weight: 600;
}
@keyframes color {
  0% {
    color: #44be44;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: red;
  }
  100% {
    color: #44be44;
  }
}
.side-nav .menu {
  padding: 0;
  margin: 0;
}
.side-nav .menu li {
  list-style: none;
}
.side-nav .menu li a {
  color: #efefef;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-nav .menu li a:hover {
  background-color: white;
  color: black;
}

.close {
  font-size: 2rem;
  float: right;
}
.close a {
  color: white;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: green;
  z-index: 4;
  display: none;
}
.modal-bg.active {
  display: table;
}

section {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
section div {
  border-radius: 30px;
  background: black;
  opacity: 0.7;
  text-align: center;
  padding: 15px;
  z-index: -1;
}
section div h1 {
  border: 2px solid white;
}
section div p {
  opacity: 1;
  text-align: justify;
}

section:nth-of-type(1) {
  animation: bg linear infinite;
  animation-iterate-count: infinite;
  animation-duration: 7s;
  background-position: center;
  opacity: 0.8;
}

@keyframes bg {
  0% {
    background-image: url(../assets/img/bg3.jpg);
  }
  50% {
    background-image: url(../assets/img/bg2.jpg);
  }
  100% {
    background-image: url(../assets/img/bg3.jpg);
  }
}
.wrapper {
  padding: 2rem;
  display: initial;
  flex-direction: initial;
  height: 10vh;
  justify-content: initial;
  align-items: initial;
  font-size: 1.5rem;
}

.wrap-acts {
  z-index: -1;
}
.wrap-acts .splide__track .splide__list {
  font-size: 20px;
  width: 100%;
}
.wrap-acts .splide__track .splide__list li {
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}
.wrap-acts .splide__track .splide__list li h4 {
  text-align: center;
}
.wrap-acts .splide__track .splide__list li div {
  text-align: center;
}
.wrap-acts .splide__track .splide__list li img {
  width: 700px;
  height: 400px;
  padding: 10px;
  border-radius: 30px;
  animation: change-color linear infinite;
  animation-duration: 10s;
}

@keyframes change-color {
  0% {
    background: yellow;
  }
  25% {
    background: lightgreen;
  }
  50% {
    background: lightblue;
  }
  75% {
    background: red;
  }
  100% {
    background: yellow;
  }
}
.content-video {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-video .inside-video {
  margin: 20px auto;
  width: 1000px;
  height: 600px;
  padding: 20px;
  border-radius: 30px;
  animation: change-color linear infinite;
  animation-duration: 10s;
}
.content-video .inside-video video {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.container-head {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.container-head p {
  margin: 0;
}

.fb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fb a {
  text-align: center;
  font-size: 70px;
  padding: 5px;
}
.fb a i {
  padding: 5px;
  color: white;
  border-radius: 50%;
}
.fb a i:hover {
  color: black;
  background: white;
}

/*# sourceMappingURL=style.css.map */
