html{


    margin:0;
    padding:0;
    overflow-x:hidden;
}
*{

    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}


body{
   margin:0;
   background:gray;

}
.nav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background:black;
    overflow-x:hidden;
    padding-top: 60px;
    transition: 0.8s;
}

.nav a {
    display:block;
    padding: 20px 30px;
    font-size: 26px;
    margin-top:20px;
    text-decoration:none;
    color:white;
}

.nav #close{
        position: absolute;
        left: 40px;
}

.nav .close{
    position: absolute;
    top:0;
    right: 20px;
    margin:10px;
}

#icons{
    padding-right:10px;
}

.slide a{
    font-size: 40px;
    color:black;
    position:fixed;
}
.slide::after{
    opacity:0;
}
#content{

    padding: 10px;
    transition: margin-left 0.8s;
    overflow:hidden;

}

.header{
    background:black;
    color:white;
    position:absolute;
    top: 1.5%;
    left: 50%;
}

.container{

   width:100%;
   text-align:center;
}

.container section{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 400px;
    padding: 30px;
    margin-top: 400px;
    margin-right:0;
    background:white;
    border: 1px solid black;
}


section:nth-child(1){
    background: black;
    color:white;
}
section:nth-child(2){
    background: yellow
}
section:nth-child(3){
    background: lightgreen
}
section:nth-child(4){
    background: red
}
section:nth-child(5){
    background: lightyellow
}

.profile{
    padding-left:45px;
}

h1{
    color:white;
    font-size: 25px;
    text-align:center;
}
h1 span{
    color:lightgreen;
    font-weight:100;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

