:root{
    --green:#94B49F;
    --brown:#FCF8E8;
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
 
}

html, body{
    padding:0;
    margin:0;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index:5;
}

ul {
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 3;
    
    background-color: var(--brown);

}

.nav-active{
    transition: .9s ease;  
    background-color: var(--green);
 
}

header{
    font-size: 1.7rem;
    font-weight: 600;
    color:var(--green)
}


.title-active{
    color:var(--brown)
}

.toggle, span{
    display: none;
}


nav ul li{
    display: inline-block;
    margin-left: 1.25rem;
}

nav ul li a{
   
    color:var(--green);
    font-size:1.25rem;
}

a:hover{
    font-weight: 700;
}




.side-nav {
    display: none;
}

.side-nav {
    position: fixed;
    display: none;
    place-items: center;
    left: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    transition: left .555s;
    position: fixed;
    background-color: var(--brown);
 
}

.side-nav ul li a{
    color:var(--green)
}

section{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    height:80vh;
    text-align: justify;
    background-color: #FCF8E8;


}


/*End of Navigation*/

/* Content */
.section-1{
    background-image: url("./assets/profile.jpg");
    background-size:cover;
    background-repeat: no-repeat;
   
}

.intro-txt{
   font-size: 1.5rem;
   font-weight: 600;
   text-align: center;
   color:var(--brown)
}

.section-3{
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;
}

.project-1,.project-2, .project-3{
  
   padding:1.5rem;
   background-color: white;
   box-shadow: 2px 1px grey;
   border-radius: 2rem;

}

.section-4 form{
    display:flex;
    align-items: center;
    flex-direction: column;

}
.btn-submit{
    margin:5px;
    border-radius:1.2rem;
    font-size: 20px;
}
.email, .msg{
    padding: 15px;
    border-radius: 1.5rem;

}

.msg{
    overflow-y:hidden;
    height: 50vh;
    width: 50vh;
    resize:none;
    font-size: 13px;
}





/* End of content*/

.footer{
    height:10vh;
    font-size: .8em;   
    color:var(--brown);
    background-color: var(--green);
}





/* Mobile Version */

@media(max-width: 590px) {
    .toggle{
        display: block;
        padding-left:3rem;
    }
    
    
    
    .toggle span{
        background:var(--green);
        width: 20px;
        height: 3px;
        display: block;
        margin:2px;
        transition: .4s;
    }

    .toggle .span-active{
        background: var(--brown);
    }

  
    .toggle span:nth-child(1){
        margin-left: 6.5px;
        width: 15px;
    }

    .toggle span:nth-child(3){
        width: 15px;
    }

    .toggle.active span:nth-child(1){
        width: 20px;
        margin: 2px;
        transform: rotate(45deg);
   
    }

    .toggle.active span:nth-child(2){
        display: none;
    }

    .toggle.active span:nth-child(3){
        width: 20px;
        transform:translateY(30px) translateY(-35px) rotate(-45deg) ;
    }

    nav ul{
        display:none;
    }

    .side-nav{
        display:grid;
    }
    
    .side-nav ul li{
        margin: 30px 0;
    }

    .side-nav.active {
        left: 0;
    }


    /* image */
   .section-1{
    background-size: contain;

   }
}
